# Assignment 1 
**(upload to the designated stud.ip group folder by the 9th of November at 11:59:00 pm)**

This first assignment will mainly focus on describing and plotting data, as well as some data wrangling. If you have any questions come to our tutorials on Mondays. 

Have Fun :)

****Enter below the names of all the group members who participated towards solving this exercise sheet:-****

**Member 1 name -** <br>
**Member 2 name -** <br>
**Member 3 name -** <br>

### Set up Python Libraries
As usual, you need to run this code block to import all relevant libraries.

In [1]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import seaborn as sns
sns.set_theme(style='white')
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings 
warnings.simplefilter('ignore', category=FutureWarning)

## Part 1 (30 points)
### Import a dataset to work with
For the first exercises we will work with **weather data** from the Oxford weather station. You can find the respective dataset on stud.ip.

In [2]:
weather = pd.read_csv("OxfordWeather.csv")
display(weather)

       YYYY Month  MM  DD  DD365  Tmax  Tmin  Tmean  Trange  Rainfall_mm
0      1827   Jan   1   1      1   8.3   5.6    7.0     2.7          0.0
1      1827   Jan   1   2      2   2.2   0.0    1.1     2.2          0.0
2      1827   Jan   1   3      3  -2.2  -8.3   -5.3     6.1          9.7
3      1827   Jan   1   4      4  -1.7  -7.8   -4.8     6.1          0.0
4      1827   Jan   1   5      5   0.0 -10.6   -5.3    10.6          0.0
...     ...   ...  ..  ..    ...   ...   ...    ...     ...          ...
71338  2022   Apr   4  26    116  15.2   4.1    9.7    11.1          0.0
71339  2022   Apr   4  27    117  10.7   2.6    6.7     8.1          0.0
71340  2022   Apr   4  28    118  12.7   3.9    8.3     8.8          0.0
71341  2022   Apr   4  29    119  11.7   6.7    9.2     5.0          0.0
71342  2022   Apr   4  30    120  17.6   1.0    9.3    16.6          0.0

[71343 rows x 10 columns]

In the following questions, you will use descriptive statistics and indexing to answer some questions about the weather and climate in Oxford.

Where you are asked to calculate a value (such as the mean) rather than output a table, you should report your answer in words in the text box below the code block.

Where the question asks you to "comment", you are simply being asked to engage with the data/ explain what you notice in plain English. Please discuss with your fellow students and your tutors if you have any questions regarding this as this is a really important skill for data analysis.

### Exercise 1: Heat (2.5 Points per Task)
#### a. What was the hottest temperature on record? 
(The dataset ends in April 2022.)

In [1]:
# Your code here

*Your comment here*

#### b. On what date did the hottest temperature occur?

Hint: you could use df.query() to help you here

In [7]:
# Your code here

*Your comment here*

#### c. Display the 10 hottest days on record and comment

Hint: you can use `df.sort_values()` and `df.head()` or `df.tail()` to help you here

In [8]:
# Your code here

*Your comment here*

#### d. Find the mean of maximum daily temperature (Tmax) for each month and comment

Hint: you can use `df.groupby()` to help you here

In [9]:
# Your code here

*Your comment here*

#### e. Make a table displaying the mean and standard deviation of Tmax in each month

Comment on the variability of hottest temperatures across months.

Hint: A combination of `df.agg()` and `df.groupby()` will help you here

In [10]:
# Your code here

*Your comment here*

#### f. Make a table displaying the mean of Tmax and Tmin in each month

Hint: A combination of `df.agg()` and `df.groupby()` will help you here

In [11]:
# Your code here

### Part 1 Exercise 2: Rain (2.5 points per task)
#### a. Run this code block to add a column called <tt>wet</tt> containing a <tt>True</tt> for days on which it rained and <tt>False</tt> otherwise

In [12]:
weather['wet']=weather.Rainfall_mm>0
weather

,YYYY,Month,MM,DD,DD365,Tmax,Tmin,Tmean,Trange,Rainfall_mm,wet
0,1827,Jan,1,1,1,8.3,5.6,7.0,2.7,0.0,False
1,1827,Jan,1,2,2,2.2,0.0,1.1,2.2,0.0,False
2,1827,Jan,1,3,3,-2.2,-8.3,-5.3,6.1,9.7,True
3,1827,Jan,1,4,4,-1.7,-7.8,-4.8,6.1,0.0,False
4,1827,Jan,1,5,5,0.0,-10.6,-5.3,10.6,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...
71338,2022,Apr,4,26,116,15.2,4.1,9.7,11.1,0.0,False
71339,2022,Apr,4,27,117,10.7,2.6,6.7,8.1,0.0,False
71340,2022,Apr,4,28,118,12.7,3.9,8.3,8.8,0.0,False
71341,2022,Apr,4,29,119,11.7,6.7,9.2,5.0,0.0,False
71342,2022,Apr,4,30,120,17.6,1.0,9.3,16.6,0.0,False

#### b. What is the proportion of wet days overall?

Hint: The values <tt>True</tt> and <tt>False</tt> can be treated as <tt>1</tt> and <tt>0</tt> respectively.
    
To get the proportion of days on which <tt>wet==True</tt>, we can use a programmming trick which is to simply take the mean of the column <tt>wet</tt>:
    
* say there are 100 days in my sample
    * say 66 of them, <tt>wet==True==1</tt>
    * for the other 44, <tt>wet==False==0</tt>
* If we take the mean, this gives us the proportion of wet days because we:
    * add up all the values (answer=66) 
    * divide by the number of cases (100)
    * result is 66/100 = 0.66 or 66%, the proportion of wet days

In [13]:
# Your code here

*Your comment here*

#### c. What is the proportion of wet days in each month? Comment on your findings.

Hint: use `df.groupby()`

In [14]:
# your code here

*Your comment here*

#### d. What is the mean quantity of rainfall (in mm) in each month? Comment on your findings.

In [15]:
# your code here

*Your comment here*

#### e. Display the 10 wettest days on record and comment.

In [16]:
# your code here

*Your comment here*

#### f. Compare and contrast the different findings in part 2 c,d, and .

Different descriptive statistics tell us different things about the same data!

*Your comments here*

## Part 2 (30 points)
### Import a dataset to work with (Penguin Dataset)
For the next exercises we will work with the **penguin dataset** which is part of the seaborn library.

How can we recognise penguins of different species? Let’s look at the Palmer Penguins dataset which contains data on penguins from three different species. If you look at the images of different species of penguins, you will see that they differ in the shape and size of their bills.

<img src= "https://jillxoreilly.github.io/StatsCourseBook_2025/_images/MT_wk2_penguins.png" width=50% alt="A picture of three different species of penguins."  />

***Let's load the penguin dataset from the Seaborn library itself***

In [17]:
penguins = sns.load_dataset('penguins')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

 ***a. Are males bigger than females? (10 points for whole section a)***

   * Plot the mean bodyweight for each sex ***(2 points)***

   * Plot the distribution of bodyweights of each sex ***(2 points)***

In [17]:
# Your code here

What do you observe and infer from the plot and distribution above? Write your observations and inferences below. ***(2 points)***

* Your answer here

Now, plot the violin plot below for the bodyweight distribution of different sexes of the penguins for all the different species. ***(2 points)***

In [18]:
# Your code here

What do you observe now from the violin plot above? Mention which plot amongst the above three shows the best depiction of the bodyweights of different sexes of the penguin for all the different species? Also explain why that is the case? ***(2 points)***

* Your answer here

***b. Is there a correlation between bill length and bill depth? (10 points for whole section b)***

* Calculate the Spearman and Pearson correlation between the bill length and bill depth for all the penguins. ***(3 points)***
* Plot a scatterplot between these two variables for all penguins. Mark each species with a different colour (hint: `hue='species'`) ***(3 points)***
* Interpret the Pearson and Spearman correlation coefficients in the light of what the scatter plot shows. Do you think the assumptions for Pearson are met? Would you get a different results if you split the data further before calculating correlation coefficients? ***(4 points)***

**Create a markdown cell underneath the code cell below and answer the third question above.**

In [19]:
# Your code here

***c. Is there a correlation between flipper length and body mass? (10 points for whole section c)***

* Calculate the Spearman and Pearson correlation between the flipper length and body mass for all the penguins. ***(3 points)***
* Plot a scatterplot between these two variables for all penguins. Mark each species with a different colour. ***(3 points)***
* What kind of correlation can you observe between the flipper length and body mass? Does the spearman and pearson correlation differ from each other? ***(4 points)***

**Create a markdown cell underneath the code cell below and answer the third question above.**

In [20]:
# Your code here

## Part 3 (40 points)

As a researcher, there are two distinct phases to data analysis:

* Understanding the dataset yourself - this involves making lots of quick plots and descriptive statistics to
    * check for outliers
    * find out the data distributions
    * look for differences between categories
    * look for associations between variables
<br>

* Preparing a report for a reader - this involves a focus on readability and the reader
    * explain any key features of the dataset 
    * highlighting key results with descriptive statistics and figures
    * figures should be well labelled and tweaked to make your point as clearly as possible
    * there should be clear, readable explanatory text
    * for most readers/clients, non technical language should be used 
    * in all cases, jargon should be avoided
    
In this part of the assignment, you will complete some guided tasks (and some open-ended ones) to explore a new dataset for yourself.

## Crime Survey Data

We will work with a dataset extracted from the Crime Survey England and Wales 2013. You can find this dataset (CrimeData_2013.csv) on Stud.IP.

The data are obtained from the UK Data Service, a data repository run by the UK Research Councils. This text is from their introduction to the dataset:

*The Crime Survey for England and Wales (CSEW) is a face-to-face victimisation survey in which
people resident in households in England and Wales are asked about their experiences of a range of
crimes in the 12 months prior to the interview. Respondents to the survey are also asked about their
perceptions of crime and attitudes towards crime related issues such as the police and criminal justice
system.*

The dataset uploaded to Stud.IP contains only some of the questions that respondants were asked, containing information about the respondants' individual demographic features, neighbourhood, perceptions of crime and confidence in the police.

In this dataset, you can (if you want) explore questions like these:
1. Which groups are the most likely to be victims of crime? and 
2. What factors affect confidence in policing?, 

In this part of the assignment, you can earn points by showing us how you deal with outliers, missing data etc within this dataset.

To further practice data analysis and drawing conclusions, there are some optional tasks at the bottom that encourage you to play around with the data to try and work out which factors are important predictors of that confidence. These will not be marked.

#### Note

The survey was conducted in 2013 in the UK. Events of recent years may have affected the confidence of certain groups in the police; this would not be reflected in the data used here.

In [21]:
# WARNING! This will only work once you:
# download the datafile and 
# put it in the right place on your computer!
crime  = pd.read_csv('CrimeData_2013.csv')
crime

### Variables in the dataset

Information about the respondant and their neighbourhood:

* **ID** a unique number for each participant
* **Sex**
* **Age** in years
* **Age Group** ages in 10-year groups
* **Ethnic Group** the categories given are the ones recorded in the original survey
* **Education** highest level of education completed; modern British qualifications are used as a short hand for any equivalent, for example 'A-Levels' includes any equivalent of completing high school to age 18.
* **SES** socio-economic status
    * 1. Managerial and professional occs 
    * 2. Intermediate occs 
    * 3. Small employers and own account workers 
    * 4. Lower supervisory and technical occupations 
    * 5. Semi-routine and routine occupations 
    * 6. Never worked and long term unemployed 
    * 7. Full-time students 
    * 8. Not classified
* **Deprivation Index** this is a neighbourhood-level measure of poverty, in qunitiles
    * 1 is the most deprived (poorest) 20% of neighbourhoods
    * 5 is the least deprived (wealthiest) 20%
* **Victim** has the respondant been a victim of crime in the last 12 months?


The following variables are **constructed** variables summarizing the respondant's attitudes on the following points:

* **confpolice** how confident are you in the policing of your neighbourhood?
* **antisoc** how much antisocial behaviour is there in your neighbourhood?
  
Each variable actually reflects a combination of the respondant's answers to several questions; for example **antisoc** is based on several questions asking about different antisocial behaviours- 'is there vandalism in your neighbourhood', 'are there gangs present in your neighbourhood', 'is there a fly tipping problem in your neighbourhood' etc):

## a. Check for bad values (15 points)

Are there any outliers of filler values (such as `9999`) in the dataset?
* check, and deal with them appropriately
* hint: make sure to also check the non-numerical variables in the dataset

Tip: start with `df.describe()` - but remember that this will only summarise the numerical variables, so in a second step, you need to look at the variables that contain strings as well.

This part earns you ten points because it contains multiple steps:
* identify filler values/outliers using summary statistics and plots
* dealing with them appropriately (e.g., replacing the by NaNs)

In [22]:
# Your code here

### Have we got rid of all the 99's now?

We actually haven't. When we checked the dataframe using `df.describe()`, we only checked the numerical variables, but some of the variables coded as strings also have missing values coded as 99.

Have a look back at the dataframe and see if you can spot (and remove) them... 

Let's check what string variables were in the dataframe:

In [23]:
# Display the dataframe again to remind yourself what string variables there are
crime.head()

Now you can check whether there are any '99's in these using `df.column.unique()`. Continue by replacing them with NaNs. **(5 points)**

Hint: the 99's in these strong variables are the string '99', not the number 99!

## b. Explore the distribution of the variables (15 points)

Now you will explore each variable individually by making suitable graphs. Complete each code block to produce a suitable plot or descriptive statistic. There are different options (i.e., more than one right solution) but in each case you should look at what you produced and comment on whether you learned something from it!

In [24]:
# Are there more men or women in the sample? (2 points)

In [25]:
# What ages were included in the survey and what is the distribution of respondants' ages? (2 points)

In [26]:
# What are the bins used for the variable AgeGroup? (2 points)
# hint: the `hue` argument of sns.histplot can help you here

In [27]:
# How many respondants came from each ethnic group? (2 points)
# Hint: you may need to resize the firgue so the x-axis labels are readable

In [28]:
# What proportion of respondants have been a victim of crime in the last 12 months? (2 points)
# Hint: `victim` is coded as 1 or 0

In [29]:
# For each of the constructed variables (confpolice and antisoc) plot the distribution (3 points)

In [30]:
# For the attitude variables (confpolice and antisoc) what is the mean and standard deviation? (2 points)
# Can you guess how these attitude variables ended up with that mean and standard deviation (think back to the section on standardizing data)?

## c. Who is most likely to be a victim of crime? (10 points)

Explore which demographic variables make a difference to the chance of being a victim of crime. Are more men than women victims of crime? etc. Demographic variables to check: 
* Sex
* AgeGroup
* SES
* EthnicGroup
* DeprivationIndex

(2 points per variable)

**HINT** as `Victim<` is coded as 1 (if they have been a victim of crime in the past 12 months) and 0 (otherwise), you can obtain the proportion of people who have been a victim by taking the mean value of the column `Victim`.

You can also use `sns.barplot()` with the `x` and `hue` arguments to plot the proportion who are victims of crime within each category (each age group, etc).

In [53]:
# You will add several code blocks here to explore the data

## Further data analysis (Bonus, not marked)

What can we learn from this dataset? 

In the lecture we heard that a pattern that holds in one group of respondants may not hold for another group. We can check this by **disaggregating** the data.

Some of the questions below can be explored via disaggregation:

* who is most likely to be a victim of crime?
* who is most likely to report high levels of antisocial behaviour in their neighbourhood?
* what factors predict confidence in the police and experience of antisocial behaviour?
* what are the limitations of the survey? Are the experiences of all groups equally well documented?